body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
}

 .title-logo img {
    height: 50px;
    width: auto;
    margin-left: 10px;
 }

.navigation nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navigation nav ul li a {
    color: seashell;
    margin-right: 20px;
}

.navigation nav ul li a:hover {
    color: blue;
}

#Mission {
    padding-top: 69px;
    display: flex;
    justify-content: center;
}

#Mission img {
    height: 700px;
    width: auto;
}
