body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
    background-color: black;
}

 .title-logo img {
    height: 50px;
    width: auto;
    margin-left: 10px;
 }

.navigation nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navigation nav ul li a {
    color: seashell;
    margin-right: 20px;
}

.navigation nav ul li a:hover {
    color: blue;
}

#Mission {
    padding-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Mission img {
    height: 700px;
    width: auto;
}

.mission-description {
    position: absolute;
    width: 1200px;
    text-align: center;
    z-index: 1;
    background-color: black;
    padding: 0;
}

.mission-description h2, .mission-description h4 {
    margin: 10px;
}

#Featured-Tea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
}

.tea-of-the-month {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 60px 0 20px;
}

.tea-of-the-month h2, .tea-of-the-month h4 {
    margin: 10px 0;
}

.teas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    gap: 30px;
    flex-wrap: wrap;

}

.teas h4 {
    margin-top: 10px;
}

#Featured-Tea img {
    height: 200px;
    width: 300px;
}

.myrtle-ave, .bedford-bizarre {
}
